%h1 Tracks

%table
   %thread
      %th id
      %th url
      %th Name
      %th Credits 
      %th Available
  
   %tbody
      - @tracks.each do |track|
         %tr
            %td
               = track.id
            %td
               = track.url.truncate(150)
            %td
               = track.name
            %td
               = track.credits.truncate(150)
        