.div.main-header Music App

%br/

.div.button-container

  .span.main-button=link_to "Artists", artists_path

  .span.main-button=link_to "Albums", albums_path

  .span.main-button=link_to "Tracks", tracks_path
